/* PRIJAVA/REGISTRACIJA */

#prijava, #registracija {
  width: min(500px, 100%);
  opacity: 0;
  animation: to-defaults 1s forwards;
}

/* POCETNA */

#pocetna > video {
  object-fit: cover;
}
#pocetna #typewriter {
  --tw: clamp(0.05rem, 0.25vw, 0.25rem);
  font-size: clamp(1rem, 5vw, 5rem);
  text-shadow: var(--tw) var(--tw) 0 #000;
  z-index: 1;
}
#pocetna #typewriter > [blinking] {
  border-right: clamp(0.2rem, 1vw, 1rem) solid;
  animation: blinking-caret 750ms step-end infinite;
}
#pocetna #tw-dot {
  display: none;
}
@keyframes blinking-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

/* O NAMA */

#o-nama .cursive {
  font: 1.5rem "Dancing Script", cursive;
  background-color: var(--light-gray);
}
#o-nama .section-title {
  color: var(--purple);
  text-shadow: var(--black-text-shadow);
}
#o-nama .section-title:active,
#o-nama .section-title:not(.collapsed) {
  background-color: var(--purple-02);
}
@media (min-width: 1200px) {
  #o-nama .section-title {
    pointer-events: none;
  }
}
#o-nama > section {
  transition: opacity 1s 250ms;
}
#o-nama > section:not(.section-visible) {
  opacity: 0;
}
#o-nama > section:not(#kako-do-nas) .row {
  text-align: justify;
}
#o-nama > section#povijest .text-primary::after {
  color: initial;
  content: " - ";
}
#o-nama > section#kako-do-nas > .section-content {
  background: url("/assets/img/map-bg-02.png") center / cover no-repeat fixed;
}

/* NOVOSTI */

#novosti > section {
  background-color: var(--light-gray);
}
#novosti .container {
  opacity: 0;
  transform: scale(0.5);
  animation: to-defaults 1s forwards;
}
@media (max-width: 1199.98px) {
  #novosti .container {
    max-width: 300px;
  }
}
#novosti .circle {
  border: 1rem solid transparent;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px #ccc;
}
#novosti .circle div {
  text-shadow: var(--black-text-shadow);
  z-index: 1;
}
#novosti .circle img {
  opacity: 0.75;
}

/* NOVOST */

[id^="novost-"] [role="button"] {
  transition: box-shadow 250ms;
}
[id^="novost-"] [role="button"] img {
  object-fit: cover;
  opacity: 0.75;
  transition: opacity 250ms, transform 250ms;
}
[id^="novost-"] [role="button"]:hover {
  box-shadow: 0 0 6px 3px #686868;
}
[id^="novost-"] [role="button"]:hover img {
  opacity: 1;
  transform: scale(1.25);
}
[id^="novost-"] #modal-close {
  transform: scale(2) translate(-50%, 50%);
}
[id^="novost-"] #modal-carousel {
  background: #000000e0;
}
[id^="novost-"] .carousel-control-prev,
[id^="novost-"] .carousel-control-next {
  background: #000000e0;
  height: 100px;
  width: 50px;
}

/* NASTAVNI PLAN */

#nastavni-plan table {
  display: none;
}
#nastavni-plan th,
#nastavni-plan td {
  padding: 0.3rem 0.5rem;
  border-top: 1px solid #ddd;
}
#nastavni-plan tr#totals {
  border-top: 3px solid #686868;
}
#nastavni-plan tbody > tr:nth-child(odd):not(#totals) {
  background: #eee;
}
@media (max-width: 575.98px) {
  #nastavni-plan tr:not(#totals) {
    position: relative;
  }
  #nastavni-plan tr:not(#totals) td:not(:last-child) {
    padding-bottom: 3rem;
  }
  #nastavni-plan tr:not(#totals) td:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
