<main id="nastavni-plan">
  <h1 class="main-title text-center w-50 p-4 mx-auto">Nastavni plan</h1>
  <div
    id="signed-out"
    class="text-center text-danger py-xl-5 py-2"
    style="display: none"
  >
    Niste prijavljeni! Prijavite se kako biste pristupili nastavnom planu.
    <br /><br />
    <a class="btn btn-primary" href="/prijava" router-link>Prijavi se</a>
  </div>
  <div id="courses" class="container py-xl-5 py-2" style="display: none">
    <div class="row row-cols-xl-2 row-cols-1 gx-xl-5 gx-0 gy-3">
      <div class="col">
        <label class="pb-2 fw-bold">Naziv kolegija:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Započni unos naziva kolegija..."
          spellcheck="false"
        />
      </div>
      <div class="col mb-5 overflow-auto">
        <table class="w-100" style="display: none">
          <thead>
            <tr>
              <th>Kolegij</th>
              <th>ECTS</th>
              <th>Sati</th>
              <th>Predavanja</th>
              <th>Vježbe</th>
              <th colspan="2">Tip</th>
            </tr>
          </thead>
          <tbody>
            <tr id="totals" class="fw-bold">
              <td class="text-end">Ukupno:</td>
              <td id="ects"></td>
              <td id="sati"></td>
              <td id="predavanja"></td>
              <td id="vjezbe"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
