<main id="o-nama">
  <div class="main-img d-flex align-items-center overflow-hidden">
    <img class="w-100" src="assets/img/kampus-iz-zraka-min-1.jpg" alt="campus" />
  </div>
  <h1 class="main-title text-center w-50 p-4 mx-auto">O nama</h1>
  <section id="nase-vrijednosti">
    <h2
      role="button"
      class="section-title collapsed text-center py-4 py-xl-5 my-3 my-xl-0"
      data-bs-toggle="collapse"
      data-bs-target="#nase-vrijednosti > .section-content"
    >
      <i class="bi bi-lightning-fill"></i>Naše vrijednosti
    </h2>
    <div class="section-content collapse d-xl-block">
      <div class="cursive px-2 py-4 py-xl-5 mb-4 mb-xl-5">
        <p class="container w-sm-60">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque est
          laudantium amet et vitae voluptas non quaerat earum, deserunt neque
          qui quod, nostrum cumque consequatur delectus in? Nemo, aspernatur
          facilis?
          <br /><br />Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Perferendis reprehenderit vitae fugit a quia voluptatem mollitia,
          dolorum omnis? Quod ut enim eligendi animi cumque ab nulla quas
          minima, rem assumenda!
        </p>
      </div>
      <div class="container">
        <div class="row g-2">
          <div class="col-md-4">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit, Lorem ipsum, dolor sit
              </h4>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                itaque provident accusamus sint harum sed nesciunt minima
                excepturi tempore alias modi culpa dicta quas, esse magnam in,
                veritatis odio. Non!
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum, ipsa exercitationem ipsum laborum rem dolore impedit
                magni nisi ab natus sint ex minus sit, ratione eveniet neque
                dolorem, cum hic?
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="povijest">
    <h2
      role="button"
      class="section-title collapsed text-center py-4 py-xl-5 my-3 my-xl-0"
      data-bs-toggle="collapse"
      data-bs-target="#povijest > .section-content"
    >
      <i class="bi bi-clock-history"></i>&nbsp;Povijest
    </h2>
    <div class="section-content collapse d-xl-block">
      <div class="cursive px-2 py-4 py-xl-5 mb-4 mb-xl-5">
        <p class="container w-sm-60">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet ab
          aperiam enim impedit, error labore temporibus vero dicta itaque magnam
          molestias, nulla cum omnis ex voluptate nostrum animi odit eos!<br /><br />Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Molestiae enim
          veniam in! Vel repellat labore, iste iure adipisci eum in distinctio
          nobis, ex amet necessitatibus odit mollitia nulla, quo recusandae.
        </p>
      </div>
      <div class="container">
        <div class="row row-cols-xxl-3 row-cols-sm-2 row-cols-1 g-2">
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit,
                Lorem ipsum, dolor sit
              </h4>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                itaque provident accusamus sint harum sed nesciunt minima
                excepturi tempore alias modi culpa dicta quas, esse magnam in,
                veritatis odio. Non!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum, ipsa exercitationem ipsum laborum rem dolore impedit
                magni nisi ab natus sint ex minus sit, ratione eveniet neque
                dolorem, cum hic?
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100">
              <h4 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                <span class="text-primary">2006.</span>Lorem, ipsum dolor sit
              </h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum,
                autem. Enim, fuga magni architecto nostrum deleniti illo nulla
                sed iure a aliquam aspernatur. Vel, asperiores veniam reiciendis
                quasi perspiciatis perferendis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="algebra-grupa">
    <h2
      role="button"
      class="section-title collapsed text-center py-4 py-xl-5 my-3 my-xl-0"
      data-bs-toggle="collapse"
      data-bs-target="#algebra-grupa > .section-content"
    >
      <i class="bi bi-people-fill"></i>&nbsp;Algebra grupa
    </h2>
    <div class="section-content collapse d-xl-block">
      <div class="cursive px-2 py-4 py-xl-5 mb-4 mb-xl-5">
        <p class="container w-sm-60">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus
          ullam, delectus beatae quis, aut ut accusamus reprehenderit facilis
          sed magnam architecto! Molestiae facere nihil tempore quam maxime
          quasi, necessitatibus alias.
          <br /><br />Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Dicta ipsum nobis voluptate asperiores atque sapiente perspiciatis,
          aperiam magnam recusandae deserunt vel sit laboriosam odio beatae.
          Dolorum earum id nihil rerum.
        </p>
      </div>
      <div class="container">
        <div class="row row-cols-xxl-4 row-cols-sm-2 row-cols-1 g-2">
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit, Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/EC-Council.png"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/1024px-Cisco_academy.png"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/VUElogo.jpg"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/autodesk.png"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/auth_training_cntr.gif"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/ms_novo.png"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/redhatLogo.png"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 h-100">
              <h5 class="text-uppercase border-2 border-bottom pb-3 mb-3">
                Lorem ipsum, dolor sit
              </h5>
              <div class="text-center">
                <img
                  class="img-fluid"
                  src="assets/img/oracleLogo.png"
                  alt="certifikat ecdl"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="kako-do-nas">
    <h2
      role="button"
      class="section-title collapsed text-center py-4 py-xl-5 my-3 my-xl-0"
      data-bs-toggle="collapse"
      data-bs-target="#kako-do-nas > .section-content"
    >
      <i class="bi bi-compass"></i>&nbsp;Kako do nas?
    </h2>
    <div class="section-content collapse d-xl-block py-xl-5 py-2">
      <div class="container mb-4">
        <div class="row row-cols-xl-2 row-cols-1 gx-4 gy-3">
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100 bg-white">
              <section>
                <h4 class="pb-2">
                  <i class="bi bi-arrow-90deg-down text-primary"></i
                  >&nbsp;Lokacija
                </h4>
                <p class="px-5 pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  rerum alias ad unde, omnis, maiores cum explicabo in sunt
                  doloribus accusamus ipsam cumque nisi quisquam! Beatae et
                  tempore dolore ipsa! Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Animi ea id officiis. Temporibus asperiores
                  dicta earum atque sunt, omnis pariatur accusamus minus velit,
                  et alias voluptatibus blanditiis architecto ea eveniet.
                </p>
              </section>
              <section>
                <h4 class="pb-2">
                  <i class="bi bi-arrow-90deg-right text-primary"></i>&nbsp;Kako
                  do nas?
                </h4>
                <p class="px-5 pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  rerum alias ad unde, omnis, maiores cum explicabo in sunt
                  doloribus accusamus ipsam cumque nisi quisquam! Beatae et
                  tempore dolore ipsa!
                </p>
              </section>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border border-2 rounded-1 h-100 bg-white">
              <section>
                <h4 class="pb-2">
                  <i class="bi bi-arrow-90deg-up text-primary"></i>&nbsp;Javni
                  prijevoz
                </h4>
                <p class="px-5 pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  rerum alias ad unde, omnis, maiores cum explicabo in sunt
                  doloribus accusamus ipsam cumque nisi quisquam! Beatae et
                  tempore dolore ipsa!
                </p>
              </section>
              <section>
                <h4 class="pb-2">
                  <i class="bi bi-arrow-90deg-left text-primary"></i
                  >&nbsp;Osobno vozilo
                </h4>
                <p class="px-5 pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  rerum alias ad unde, omnis, maiores cum explicabo in sunt
                  doloribus accusamus ipsam cumque nisi quisquam! Beatae et
                  tempore dolore ipsa!
                </p>
              </section>
              <section>
                <h4 class="pb-2">
                  <i class="bi bi-arrow-90deg-down text-primary"></i
                  >&nbsp;Parking
                </h4>
                <p class="px-5 pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  rerum alias ad unde, omnis, maiores cum explicabo in sunt
                  doloribus accusamus ipsam cumque nisi quisquam! Beatae et
                  tempore dolore ipsa!
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.0500120319143!2d15.93893681556909!3d45.81025677910652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6d74e265877%3A0x1a4f4eae9fc461c5!2sAlgebra%20University%20College!5e0!3m2!1sen!2shr!4v1665771951174!5m2!1sen!2shr"
          class="w-100 border border-2 rounded-1"
          height="450"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </section>
</main>
