<main id="prijava" class="m-auto p-3">
  <h5 class="mb-4">PRIJAVA KORISNIKA</h5>
  <form
    id="auth"
    class="modal-body"
    action="https://www.fulek.com/data/api/user/login"
    method="post"
    spellcheck="false"
    autocomplete
  >
    <div class="mb-3">
      <label for="username" class="form-label fw-bold">Korisničko ime:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="username"
        title="Ovo polje je obavezno!"
        placeholder="E-mail adresa..."
        oninvalid="this.setCustomValidity('Neispravan email!')"
        oninput="this.setCustomValidity('')"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label fw-bold">Lozinka:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        title="Ovo polje je obavezno!"
        oninvalid="this.setCustomValidity('Ispunite ovo polje!')"
        oninput="this.setCustomValidity('')"
        required
      />
    </div>
    <button tabindex="0" type="submit" class="btn btn-dark me-2 w-100 mb-3">
      Prijavi se
    </button>
    <div id="success" class="text-danger" style="display: none">
      Uspješna prijava :) Na početnu stranicu za 3,2,1...
    </div>
    <div id="error" class="text-danger" style="display: none"></div>
    <div>
      Nemaš račun?
      <a
        class="text-primary text-decoration-none fw-bold"
        href="/registracija"
        router-link
        >Registriraj se</a
      >
    </div>
  </form>
</main>
