<main id="novost-3">
  <div
    class="main-img d-flex align-items-center justify-content-center overflow-hidden text-white"
  >
    <img class="w-100" src="img/news.png" alt="novost" />
    <div class="container w-sm-60 position-absolute text-center fs-1">
      Student Kristijan Rosandić napravio ovu stranicu...
    </div>
  </div>
  <h1 class="main-title text-center w-50 p-4 mx-auto">Nevjerojatna novost 3</h1>
  <p class="container w-sm-60 py-4 py-xl-5 fs-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, possimus
    praesentium corporis minima quae dignissimos neque. At id eveniet rerum et
    facere illum quis quo, mollitia repellendus vel, quas neque!
  </p>
</main>
