@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #c21b67;
  --purple-02: #c21b6633;
}

.black-text-shadow {
  text-shadow: 1px 1px 0 #000;
}
.active:not(.hash-btn) {
  @apply text-white !important;
}
.main-img {
  @apply black-text-shadow flex max-h-[35vh] -translate-y-full animate-reset items-center overflow-hidden;
}
.main-title {
  @apply mx-auto mt-4 mb-8 w-full translate-y-2/4 animate-reset border-b-4 border-b-amber-500 p-4 text-center text-4xl font-semibold lg:w-2/4;
}

/* HEADER */

.nav-btn {
  @apply flex items-center transition-colors hover:text-neutral-300 lg:px-4;
}
.nav-mobile-enter {
  @apply max-h-0 p-0 opacity-0;
}
.nav-mobile-enter-active {
  @apply max-h-52 pt-2 opacity-100 transition-all duration-500;
}
.nav-mobile-exit {
  @apply max-h-52 pt-2 opacity-100;
}
.nav-mobile-exit-active {
  @apply max-h-0 p-0 opacity-0 transition-all duration-500;
}
.nav-hash-enter {
  @apply translate-x-full opacity-0;
}
.nav-hash-enter-active {
  @apply transform-none opacity-100 transition-all duration-500;
  transition-timing-function: cubic-bezier(0.7, 1.89, 0.48, 0.6);
}
.nav-hash-exit {
  @apply transform-none opacity-100;
}
.nav-hash-exit-active {
  @apply translate-x-full opacity-0 transition-all duration-500;
  transition-timing-function: cubic-bezier(0.7, 1.89, 0.48, 0.6);
}

/* FOOTER */

footer {
  background: url("@/assets/img/zaiskri-bg.jpg") center / cover no-repeat;
}

/* POCETNA */

#typewriter {
  --tw: clamp(0.05rem, 0.25vw, 0.25rem);
  text-shadow: var(--tw) var(--tw) 0 #000;
}
[blinking="true"] {
  border-right: clamp(0.2rem, 1vw, 1rem) solid;
  animation: blinking-caret 750ms step-end infinite;
}
@keyframes blinking-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

/* O-NAMA */

.cursive {
  @apply mb-8 bg-gray-50 py-8 px-5;
  font: 1.5rem "Dancing Script", cursive;
}
section[id]:not(.section-visible) {
  opacity: 0;
}
#find-us {
  background: url("@/assets/img/kakoDoNas.jpg") center / cover no-repeat fixed;
}

/* NOVOST */

.left-enter {
  @apply -translate-x-full;
}
.right-enter {
  @apply translate-x-full;
}
.left-enter-active,
.right-enter-active {
  @apply absolute transform-none transition-all duration-1000;
}
.left-exit,
.right-exit {
  @apply absolute transform-none;
}
.left-exit-active {
  @apply translate-x-full transition-all duration-1000;
}
.right-exit-active {
  @apply -translate-x-full transition-all duration-1000;
}

/* NASTAVNI PLAN */

th,
td {
  padding: 0.3rem 0.5rem;
  border-top: 1px solid #ddd;
}
tbody > tr:nth-child(odd):not(:last-child) {
  background: #eee;
}