@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #c21b67;
  --purple-02: #c21b6633;
  --black-text-shadow: 1px 1px 0 #000;
}

@media (hover: none) and (pointer: coarse) {
  html {
    /* prevents overflow when auto focusing on transitioning input
    being transform translated from outside the mobile viewport */
    /* overflow-x: clip; */
  }
}
body {
  /* overflow-x: clip; */
}

.router-link-active:not(.hash-btn) {
  @apply text-white !important;
}
.cursive {
  font: 1.5rem "Dancing Script", cursive;
}
.main-img {
  @apply flex -translate-y-full animate-reset items-center overflow-hidden;
  max-height: 35vh;
  text-shadow: var(--black-text-shadow);
}
.main-title {
  @apply mx-auto w-full translate-y-2/4 animate-reset border-b-4 border-b-amber-500 p-4 text-center text-4xl lg:w-2/4;
}
